 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|typicons|brandico);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

@font-face {
    font-family: haymaker;
    src: url(haymaker.woff);
}



body {
  background: #fafafa;
  font-family: 'Open Sans Condensed';
  color: #333;

  }
  .inputContainer{
    width: 100%;
    margin: 0 auto;
    padding-left: 40%;
  }
  #input{
    font-family: 'Open Sans Condensed';
    width: 35%;
    border-radius: 20px;
    border: none;
    padding-left: 11px;
    line-height: 35px;
    margin: 0 auto;
  }
 
  #button{
    
    >span{
        color: black;}

  }


.background{
  margin-top: -100px;
  background: url(../images/shakeshack.jpg);
  background-size: 100%;
  background-repeat: none;
  background-position: fixed;

}


.menu{
  text-align: center;
  padding: 15px 10px 40px 10px;
  display: none;
}

.hero-unit {
  padding: 10px 15px;

  }


  .landingPage{
    line-height: 26px;
    >h1{

        /*background: url(https://download.unsplash.com/photo-1429962714451-bb934ecdc4ec);
        background-position: 18px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/

        margin-bottom: 10px;
        margin-top: 173px;
        line-height: 1;
        background-size: 31%;
        letter-spacing: -1px;
        font-family: 'Open Sans Condensed';
        text-align: center;
        font-size: 7em;
        color: white;
    }

    .comingSoon{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-left: 55px;
    }
    .one{
      font-size: 8em;
      font-family: 'Open Sans Condensed';
      color: white;
    
      line-height: 99px;
      >span{
        letter-spacing: 5px;
        padding-right: 55px;

      }
    }
    .two{
      font-size: 1em;
      font-weight: lighter;
      letter-spacing: 5px;
      color: white;

    }

    .waitList{
      width: 50%;
    }
  }

  @media screen and (max-width: 500px){
    .one{
      font-size: 5em;
    }
  }

