 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|typicons);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}
@font-face {
    font-family: haymaker;
    src: url(haymaker.woff);
}



body {
  background: #fafafa;
  font-family: 'Open Sans Condensed';
  color: #333;
}

.hero-unit {

  padding: 10px 15px;

  }
h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    font-family: haymaker;
  }

  .landingPage{
    line-height: 26px;

    .comingSoon{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .one{
      font-size: 8em;
      font-family: haymaker;
      line-height: 99px;
      >span{
        letter-spacing: 5px;
        padding-right: 55px;

      }
    }
    .two{
      font-size: 2em;
      font-weight: lighter;
      letter-spacing: 5px;

    }



  }

